body {
    padding-top: 65px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.code {
    white-space: pre-wrap;
}

.configs {
    white-space: pre;
}

.red {
    background-color: rgba(242, 9, 9, 0.75)
}

.green {
    background-color: rgba(128, 191, 106, 0.75);
    ;
}