{% extends "base.html" %}

{% block content %}
    <h1>Add IP Pool</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.poolname.label }}<br>
            {{ form.poolname(size=32) }}
        </p>
        <p>
            {{ form.subnet.label }}<br>
            {{ form.subnet(size=32)}}
        </p>
        <p>
            {{ form.netmask.label }}<br>
            {{ form.netmask(size=16)}}
        </p>
        <p>
            {{ form.gateway.label }}<br>
            {{ form.gateway(size=32)}}
        </p>
        <p>
            {{ form.dhcpServer.label }}<br>
            {{ form.dhcpServer()}}
        </p>
        <p>
            {{ form.dnsServer.label }}<br>
            {{ form.dnsServer()}}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
