{% extends "base.html" %}

{% block content %}
    {% if step == '1' %}
    <h1>Add Virtual Network</h1>
    <form action="/add_vn" method="POST">
        <p>
            VN Name<br>
            <input type="text" name="vnname">
        </p>
        <p>
            Fabric<br>
            <select name="fabric">
                {% for fabric in fabrics %}
                <option value="{{ fabric[0] }}">{{ fabric[1] }}</option>
                {% endfor %}
            </select>
        </p>
        <input type="hidden" name="step" value="2">
        <p><input type="submit" value="Next"></p>
    </form>
    {% elif step == '2' %}
    <h1>Select Sites</h1>
    <form action="/add_vn" method="POST">
        <p>
            Site<br>
            <select name="selected_sites" multiple>
                {% for site in sites %}
                <option value="{{ site['id'] }}">{{ site['name'] }}</option>
                {% endfor %}
            </select>
        </p>
        <input type="hidden" name="selected_fabric" value={{ selected_fabric }}>
        <input type="hidden" name="selected_vnname" value={{ selected_vnname }}>
        <input type="hidden" name="step" value="3">
        <p><input type="submit" value="Next"></p>
    </form>
    {% elif step == '3' %}
    <h1>Select IP Pools</h1>
    <form action="/add_vn" method="POST">
        <p>
            {% for site in sites %}
                {{ site.name }}<br>
                <select name="{{ site }}_ip_pool">
                {% for ip_pool in site.ip_pools %}
                    <option value="{{ ip_pool['id'] }}">{{ ip_pool['name'] }}</option>
                {% endfor %}
                </select><br>
            {% endfor %}
        </p>
        <input type="hidden" name="selected_fabric" value={{ selected_fabric }}>
        <input type="hidden" name="selected_vnname" value={{ selected_vnname }}>
        <input type="hidden" name="selected_sites" value={{ selected_sites }}>
        <input type="hidden" name="step" value="4">
        <p><input type="submit" value="Create VN"></p>
    </form>
    {% elif step == '4' %}
    <h1>Success</h1>
    <form action="/add_vn" method="POST">
        <p>

        </p>
        <input type="hidden" name="selected_fabric" value={{ selected_fabric }}>
        <input type="hidden" name="selected_vnname" value={{ selected_vnname }}>
        <input type="hidden" name="step" value="4">
        <p><input type="submit" value="Create VN"></p>
    </form>
    {% endif %}
{% endblock %}