{% extends "base.html" %}

{% block content %}
    {% if step == '1' %}
    <h1>Add Virtual Network</h1>
    <form action="/add_vn" method="POST">
        <p>
            VN Name<br>
            <input type="text" name="vnname">
        </p>
        <p>
            Fabric<br>
            <select name="fabric">
                {% for fabric in fabrics %}
                <option value="{{ fabric[0] }}">{{ fabric[1] }}</option>
                {% endfor %}
            </select>
        </p>
        <input type="hidden" name="step" value="2">
        <p><input type="submit" value="Next"></p>
    </form>
    {% elif step == '2' %}
    <h1>Select Sites</h1>
    <form action="/add_vn" method="POST">
        <p>
            Site<br>
            <select name="selected_sites" multiple>
                {% for site in sites %}
                <option value="{{ site['id'] }}">{{ site['name'] }}</option>
                {% endfor %}
            </select>
        </p>
        <input type="hidden" name="selected_fabric" value={{ selected_fabric }}>
        <input type="hidden" name="selected_vnname" value={{ selected_vnname }}>
        <input type="hidden" name="step" value="3">
        <p><input type="submit" value="Next"></p>
    </form>
    {% elif step == '3' %}
    <h1>Select IP Pools</h1>
    <form action="/add_vn" method="POST">
        <p>
            {% for site in sites %}
                {{ site.name }}<br>
                <select name="{{ site.id }}_ip_pool">
                {% for ip_pool in site.ip_pools %}
                    <option value="{{ ip_pool['id'] }}">{{ ip_pool['name'] }}</option>
                {% endfor %}
                </select><br>
            {% endfor %}
        </p>
        <input type="hidden" name="selected_fabric" value={{ selected_fabric }}>
        <input type="hidden" name="selected_vnname" value={{ selected_vnname }}>
        <input type="hidden" name="sites_count" value={{ sites_count }}>
        {% for i in range(0, sites_count) %}
            {% set name = 'selected_site_' + i|string %}
        <input type="hidden" name={{ name }} value={{ sites[i].id }}>
        {% endfor %}
        <input type="hidden" name="step" value="4">
        <p><input type="submit" value="Create VN"></p>
    </form>
    {% elif step == '4' %}
    <h1>Success</h1>
    <form action="/add_vn" method="POST">
        <p>
            Successfully Created Virtual Network:
<table class="table">
        <thead>
        <th>
            VN
        </th>
        <th>
            Sites
        </th>
        </thead>
        <tbody>
            <tr>
                <td>
                    {{ selected_vnname }}
                </td>
                <td></td>
            </tr>
            <tr>{% for site in selected_sites %}
                <td>
                </td>
                <td>{{ site.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        </p>
        <input type="hidden" name="selected_fabric" value={{ selected_fabric }}>
        <input type="hidden" name="selected_vnname" value={{ selected_vnname }}>
        <input type="hidden" name="selected_sites" value={{ selected_sites }}>
        <input type="hidden" name="selected_ip_pools" value={{ selected_ip_pools }}
        <input type="hidden" name="step" value="5">
    </form>
    {% endif %}
{% endblock %}