{% extends "base.html" %}

{% block content %}
    <h1>Add Virtual Network</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.vnname.label }}<br>
            {{ form.vnname(size=32) }}
        </p>
        <p>
            {{ form.ip_pool.label }}<br>
            {{ form.ip_pool() }}
        </p>
        <p><a href="/add_ip_pool">Add IP Pool</a></p>
        <p>
            {{ form.sgts.label }}<br>
            {{ form.sgts() }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}